<h2 class="acms-admin-admin-title2"><!-- T -->Slack Form 設定<!-- /T --></h2>
<table class="acms-admin-table-admin-edit">
	<tr>
		<th>Incoming Hook URL
			<i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="Slackで発行した、Incoming Hook URLを設定します。"></i>
		</th>
		<td>
			<input type="text" name="slack_incoming_hook_url" value="{slack_incoming_hook_url}" class="acms-admin-form-width-full"/>
			<input type="hidden" name="mail[]" value="slack_incoming_hook_url" />
		</td>
	</tr>
	<tr>
		<th>Channel
			<i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="Slackの送信先チャンネルを設定します。（先頭の#は除く）"></i>
		</th>
		<td>
			<input type="text" name="slack_form_channel" value="{slack_form_channel}" class="acms-admin-form-width-mini" placeholder="random">
			<input type="hidden" name="mail[]" value="slack_form_channel">
		</td>
	</tr>
	<tr>
		<th>From
			<i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="Slackの送信者を設定します。"></i>
		</th>
		<td>
			<input type="text" name="slack_form_from" value="{slack_form_from}" class="acms-admin-form-width-small" placeholder="">
			<input type="hidden" name="mail[]" value="slack_form_from">
		</td>
	</tr>
	<tr>
		<th>Message
			<i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="Slackに通知するメッセージテンプレート。メールテンプレートと同じ変数が使えます。"></i>
		</th>
		<td>
			<textarea name="slack_form_message" class="acms-admin-form-width-full" rows="20">{slack_form_message}</textarea>
			<input type="hidden" name="mail[]" value="slack_form_message">
		</td>
	</tr>
</table>
